.sectionc {
    border-bottom: 1px solid #D9FFF5;
    background-color: #ffffff;

    .sectionc__p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #7E7E82;
        padding: 20px;
    }

    .swiper {
        padding: 20px;
        height: 180px;
        background-color: #f8f8f8;

        .swiper-slide {
            width: 240px;
            height: 160px;
            background-color: #ffffff;
            border: 1px solid rgb(234, 234, 234);
            border-radius: 6px;
        }

        .swiper-slide-p {
            padding: 0;
            margin: 15px;
        }

        .swiper-slide-go {
            margin-top: 55px;
            margin-left: 165px;
        }
    }

    .sectionc__teni {
        position: absolute;
        width: 24px;
        height: 160px;
        z-index: 1;
        top: 20px;
        right: 0;
        background: linear-gradient(270.00deg, rgb(248, 248, 248) 16.836%,rgba(248, 248, 248, 0) 100%);
    }
    
    .swiper-pocazz {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1440px) { 
    .sectionc__teni {
        display: none;
    }

    .swiper-slide-pla {
        display: none;
    }

    .swiper-pocazz {
        margin-top: 10px;
        display: block !important;
    }
}

@media (min-width: 1440px) {
    .sectionc__teni {
        display: none;
    }

    .swiper-slide-pka {
        display: none;
    }

    .swiper-pocazz {
        display: block !important;
        margin-top: 10px;
    }
}