.sectionf {
    border-bottom: 1px solid #D9FFF5;
    background-color: #F8F8F8;

    .sectionf__p  {
        margin-left: 20px;
        font-size: 16px;
    }

    .sectionf__pp {
        font-family: TTLakes-Medium;
        margin-right: 20px;
        margin-top: 0;
    }

}

@media (min-width: 768px) and (max-width: 1440px) {
    .sectionf__p  {
        width: 420px;
    }
}

@media (min-width: 1440px) {
    .sectionf__p  {
        width: 420px;
    }
}