@import './fonts/regular.scss';
@import './fonts/bold.scss';
@import './fonts/medium.scss';
@import './header.scss';
@import './nav.scss';
@import './sectiona.scss';
@import './sectionb.scss';
@import './sectionc.scss';
@import './sectiond.scss';
@import './sectionf.scss';
@import './footer.scss';
@import './nava.scss';
@import './navab.scss';


$back: #f8f8f8;
$font_regular: TTLakes-Regular, sans-serif;

body {
  padding: 0;
  margin: 0;
  font-family: $font_regular;
  width: 100%;
}

.main {
  background-color: $back;
}

@media (min-width: 1440px) {

  body {
    display: flex;
  }
}